@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSee {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.sertificates {
  margin-left: 240px;
  animation: fadeIn 1s ease;
}

.board-sertificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1em;
  margin-top: 100px;
}

.card-sertif {
  border-radius: 7px;
  overflow: hidden;
}

.card-sertif:hover .see-sertificate {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInSee 1s ease alternate forwards;
  z-index: 1;
}

.see-sertificate {
  display: none;
}

.img-sertificate {
  position: relative;
}

.img-sertificate img {
  width: 100%;
  display: block;
}

/* Button See Project */
.see-sertificate button {
  padding: 0.2em 1em;
  border-radius: 3px;
  text-decoration: none;
  border: 2px solid #2052c9;
  color: white;
  position: relative;
  width: 110px;
  height: 32px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.see-sertificate button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: 0.7s all ease;
  z-index: 0;
}

.text-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-sertificate button:hover span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2052c9;
}

.card-sertif p {
  text-align: center;
  padding: 0.2em 1em;
}

@media screen and (max-width: 1100px) {
  .board-sertificates {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 960px) {
  .sertificates {
    margin-left: 0;
  }

  .board-sertificates {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .board-sertificates {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 530px) {
  .board-sertificates {
    grid-template-columns: 1fr;
  }
}
